<aside class="main-sidebar">
  <div class="widget">
    <h3>Search posts</h3>
    <form action="#" class="text-right">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button class="btn btn-primary">Go</button>
    </form>
  </div>

  <div class="widget">
    <h3>Most visited</h3>
    <ul>
      <li>Front end arquitecture with Vue.js!</li>
      <li>Front end arquitecture with Vue.js!</li>
      <li>Front end arquitecture with Vue.js!</li>
    </ul>
  </div>
</aside>
